<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Configurar Endereço</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Configurar Endereço</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Gerenciar as Configurações de Endereço</h3>
                    </div>
                    <form method="post" action="/config">
                        <input type="hidden" name="csrf" autocomplete="off" value="{{ .csrfToken }}"/>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="physicalStoreEmail">E-mail</label>
                                    <input type="email" class="form-control" id="physicalStoreEmail"
                                           name="physicalStoreEmail"
                                           placeholder="E-mail da loja" required="required"
                                           value="{{.Object.PhysicalStoreEmail}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="physicalStoreAddress">Endereço</label>
                                    <input type="text" class="form-control" id="physicalStoreAddress"
                                           name="physicalStoreAddress"
                                           placeholder="Endereço"
                                           minlength="4" value="{{.Object.PhysicalStoreAddress}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="physicalStorePhoneNumber">Telefone</label>
                                    <input type="text" class="form-control phone-number" id="physicalStorePhoneNumber"
                                           name="physicalStorePhoneNumber"
                                           placeholder="Telefone" value="{{.Object.PhysicalStorePhoneNumber}}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="physicalStorePostalCode">Código postal</label>
                                    <input type="text" class="form-control postal-code" id="physicalStorePostalCode"
                                           name="physicalStorePostalCode"
                                           placeholder="Código postal" value="{{.Object.PhysicalStorePostalCode}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="physicalStorEstate">Estado</label>
                                    <input type="text" class="form-control" id="physicalStorEstate"
                                           name="physicalStorEstate" placeholder="Estado"
                                           minlength="4"
                                           value="{{.Object.PhysicalStoreState}}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="physicalStoreCity">Cidade</label>
                                    <input type="text" class="form-control" id="physicalStoreCity"
                                           name="physicalStoreCity" placeholder="Cidade"
                                           value="{{.Object.PhysicalStoreCity}}">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="/dashboard" class="btn btn-default">
                                <i class="fas fa-undo-alt"></i> Cancelar </a>
                            <button type="submit" class="btn btn-primary float-right">Atualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/plugins/cleave/cleave.min.js"></script>
<script src="/plugins/cleave/cleave-phone.br.js"></script>
<script>
    var cleavePostal = new Cleave('.postal-code', {
        numericOnly: true,
        delimiter: '-',
        blocks: [5, 3]
    });
    var cleavePhone = new Cleave('.phone-number', {
        phone: true,
        phoneRegionCode: 'BR'
    });
</script>