<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Configurar Pagamento</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Configurar Pagamento</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Gerenciar as Configurações de Pagamento</h3>
                    </div>
                    <form method="post" action="/config">
                        <input type="hidden" name="csrf" autocomplete="off" value="{{ .csrfToken }}"/>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="paymentCashIsActive">Aceitar Pagamento em Dinheiro?</label>
                                <select class="form-control" id="paymentCashIsActive" name="paymentCashIsActive">
                                    <option value="1" {{if .Object.PaymentCashIsActive}}selected{{end}}>Sim</option>
                                    <option value="0" {{if not .Object.PaymentCashIsActive}}selected{{end}}>Não</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="paymentPixIsActive">Aceitar Pagamento em Pix?</label>
                                <select class="form-control" id="paymentPixIsActive" name="paymentPixIsActive">
                                    <option value="1" {{if .Object.PaymentPixIsActive}}selected{{end}}>Sim</option>
                                    <option value="0" {{if not .Object.PaymentPixIsActive}}selected{{end}}>Não</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="/dashboard" class="btn btn-default"> <i class="fas fa-undo-alt"></i>
                                Cancelar </a>
                            <button type="submit" class="btn btn-primary float-right">Atualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
