<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Configurar Pix</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Configurar Pix</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Gerenciar as Configurações do Pix</h3>
                    </div>
                    <form method="Post" action="/config">
                        <input type="hidden" name="csrf" autocomplete="off" value="{{ .csrfToken }}"/>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="pixKey">Chave Pix</label>
                                <input type="text" class="form-control" id="pixKey" name="pixKey"
                                       placeholder="Chave Pix" value="{{.Object.PixKey}}"/>
                            </div>
                            <div class="form-group">
                                <label for="pixKeyType">Tipo de Chave</label>
                                <select class="form-control" id="pixKeyType" name="pixKeyType">
                                    <option value="email" {{if eq .Object.PixKeyType
                                    "email"}}selected{{end}}>Email
                                    </option>
                                    <option value="celular" {{if eq .Object.PixKeyType
                                    "celular"}}selected{{end}}>Celular
                                    </option>
                                    <option value="aleatoria" {{if eq .Object.PixKeyType
                                    "aleatoria"}}selected{{end}}>
                                    Aleatória
                                    </option>
                                    <option value="cpf" {{if eq .Object.PixKeyType
                                    "cpf"}}selected{{end}}>CPF</option>
                                    <option value="cnpj" {{if eq .Object.PixKeyType
                                    "cnpj"}}selected{{end}}>CNPJ</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="/dashboard" class="btn btn-default">
                                <i class="fas fa-undo-alt"></i> Cancelar </a>
                            <button type="submit" class="btn btn-primary float-right">Atualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
