<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">{{if eq .Profile.UserID .Object.UserID}}Meu perfil{{else}}Dados do perfil{{end}}</h1>
                <p class="ui-form-intro">Contato para seus pedidos e endereço para quando quiser receber em casa.</p>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{{if .Profile.User.IsStaff}}/users{{else}}/store{{end}}">{{if .Profile.User.IsStaff}}Usuários{{else}}Loja{{end}}</a></li>
                    <li class="breadcrumb-item active">Dados do perfil</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content ui-form-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card card-primary">
                    <div class="card-header">
                        <h2 class="card-title">Dados do perfil</h2>
                        <a class="btn float-right" href="/users/user/{{.Object.UserID}}">E-mail e senha</a>
                    </div>
                    <form action="/profile/update/{{.Object.UserID}}" method="post">
                        <input type="hidden" name="_csrf" value="{{.CSRFToken}}">
                        <div class="card-body">
                            <fieldset>
                                <legend class="h5">Contato</legend>
                                <p class="text-muted">Nome, sobrenome e telefone são necessários para finalizar pedidos, inclusive para retirada.</p>
                                <div class="form-group">
                                    <label for="mail">E-mail</label>
                                    <input class="form-control" disabled id="mail" type="email" value="{{.Object.User.Email}}">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="firstname">Nome</label>
                                        <input class="form-control" id="firstname" name="firstname" maxlength="100" autocomplete="given-name" required value="{{.Object.FirstName}}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="lastname">Sobrenome</label>
                                        <input class="form-control" id="lastname" name="lastname" maxlength="100" autocomplete="family-name" required value="{{.Object.LastName}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phonenumber">Telefone</label>
                                    <input class="form-control phone-number" id="phonenumber" name="phonenumber" type="tel" inputmode="tel" autocomplete="tel" maxlength="20" required aria-describedby="phone-help" placeholder="(11) 99999-9999" value="{{.Object.PhoneNumber}}">
                                    <small id="phone-help" class="form-text text-muted">Informe um telefone brasileiro com DDD.</small>
                                </div>
                            </fieldset>
                            <fieldset class="mt-4">
                                <legend class="h5">Endereço de entrega <span class="ui-optional">Opcional para retirada</span></legend>
                                <p class="text-muted">Para receber em casa, preencha endereço completo, cidade, UF e CEP.</p>
                                <div class="form-group">
                                    <label for="address">Rua, número e complemento</label>
                                    <input class="form-control" id="address" name="address" maxlength="200" autocomplete="street-address" value="{{.Object.Address}}">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="city">Cidade</label>
                                        <input class="form-control" id="city" name="city" maxlength="100" autocomplete="address-level2" value="{{.Object.City}}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="state">Estado (UF)</label>
                                        <select class="form-control" id="state" name="state" autocomplete="address-level1">{{template "snippets/state-options" .Object.State}}</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="postalcode">CEP</label>
                                    <input class="form-control postal-code" id="postalcode" name="postalcode" inputmode="numeric" autocomplete="postal-code" maxlength="9" pattern="[0-9]{5}-?[0-9]{3}" title="Informe um CEP com 8 números" placeholder="00000-000" value="{{.Object.PostalCode}}">
                                </div>
                            </fieldset>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-default" href="{{if .Profile.User.IsStaff}}/users/user/{{.Object.UserID}}{{else}}/orders{{end}}">{{if .Profile.User.IsStaff}}Voltar à conta{{else}}Meus pedidos{{end}}</a>
                            <button class="btn btn-primary float-right" type="submit">Salvar perfil</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
