<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Detalhes do Perfil</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    {{ if.Profile.User.IsStaff }}
                        <li class="breadcrumb-item">
                            <a href="/users">Usuários Registrados</a>
                        </li>
                    {{else}}
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                    {{end}}
                    <li class="breadcrumb-item active">Detalhes do Perfil</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                {{template "snippets/message" .}}
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Perfil do Usuário</h3>
                        <a href="/users/user/{{.Object.UserID}}" class="btn float-right">
                            <i class="fas fa-eye"></i> <u>Conta de Usuário</u>
                        </a>
                    </div>
                    <form method="Post" action="/profile/update/{{.Object.UserID}}">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="mail">E-mail</label>
                                    <input type="mail" class="form-control" id="mail" value="{{.Object.User.Email}}"
                                           disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="firstname">Nome</label>
                                    <input type="text" class="form-control" id="firstname" name="firstname"
                                           placeholder="Nome"
                                           minlength="4" value="{{.Object.FirstName}}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="lastname">Sobrenome</label>
                                    <input type="text" class="form-control" id="lastname" name="lastname"
                                           placeholder="Sobrenome"
                                           value="{{.Object.LastName}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="address">Endereço</label>
                                    <input type="text" class="form-control" id="address" name="address"
                                           placeholder="Endereço"
                                           minlength="4" value="{{.Object.Address}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="phonenumber">Telefone</label>
                                    <input type="text" class="form-control phone-number" id="phonenumber"
                                           name="phonenumber"
                                           placeholder="Telefone" value="{{.Object.PhoneNumber}}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="postalcode">Código postal</label>
                                    <input type="text" class="form-control postal-code" id="postalcode"
                                           name="postalcode"
                                           placeholder="Código postal" value="{{.Object.PostalCode}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="state">Estado</label>
                                    <input type="text" class="form-control" id="state" name="state" placeholder="Estado"
                                           minlength="4"
                                           value="{{.Object.State}}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="city">Cidade</label>
                                    <input type="text" class="form-control" id="city" name="city" placeholder="Cidade"
                                           value="{{.Object.City}}">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            {{ if.Profile.User.IsStaff }}
                                <a href="/users/user/{{.Object.UserID}}" class="btn btn-default">
                                    <i class="fas fa-undo-alt"></i> Cancelar </a>
                            {{else}}
                                <a href="javascript:history.back()" class="btn btn-default">
                                    <i class="fas fa-undo-alt"></i> Cancelar </a>
                            {{end}}
                            <button type="submit" class="btn btn-primary float-right">Atualizar perfil</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/plugins/cleave/cleave.min.js"></script>
<script src="/plugins/cleave/cleave-phone.br.js"></script>
<script>
    var cleavePostal = new Cleave('.postal-code', {
        numericOnly: true,
        delimiter: '-',
        blocks: [5, 3]
    });
    var cleavePhone = new Cleave('.phone-number', {
        phone: true,
        phoneRegionCode: 'BR'
    });
</script>


