<!-- Cabeçalho do conteúdo (cabeçalho da página) -->
<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Vitrine da Loja</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Vitrine da Loja</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Conteúdo principal -->
<div class="content">
    <div class="container">
        <div class="row row-eq-height">
            {{ if .Object.Products}}
            <input type="hidden" id="csrf" name="csrf" autocomplete="off" value="{{ .csrfToken }}"/>
            {{range .Object.Products}}
            <div class="col-md-3">
                <div class="card card-produto  text-center">
                    <img alt="{{.Name}}" class="card-img-top" src="{{.Image}}">
                    <div class="card-body d-flex flex-column">
                        <a class="card-title font-weight-bold text-dark" href="/products/details/{{.ID}}">
                            <h5>{{abbrev 40 .Name}}</h5></a>
                        <a class="link-muted" href="/products/details/{{.ID}}"><u>Ler descrição</u></a>
                    </div>
                    <div class="card-footer">
                        <span class="card-text font-weight-bold" s
                              style="font-size: 24px;">R$ {{ printf "%.2f" .Price}}<small
                                class="text-muted">/uni</small></span>
                        <div class="mt-3">
                            <div class="input-group mb-3">
                                <button class="btn btn-outline-secondary" id="{{.ID}}-decrement"
                                        onclick="decrementQuantity('{{.ID}}')"
                                        type="button">-
                                </button>
                                <input aria-describedby="{{.ID}}-decrement {{.ID}}-increment"
                                       aria-label="Example text with button addon" class="form-control text-center"
                                       id="{{.ID}}-quantity" inputmode="numeric" min="1" pattern="[0-9]*"
                                       type="number"
                                       value="1">
                                <button class="btn btn-outline-secondary" id="{{.ID}}-increment"
                                        onclick="incrementQuantity('{{.ID}}')"
                                        type="button">+
                                </button>
                            </div>
                        </div>
                        <a class="adicionar-ao-carrinho btn btn-outline-primary w-100" data-id="{{.ID}}" href="#">
                            Adicionar ao carrinho</a>
                    </div>
                </div>
            </div>
            {{end}}
            {{end}}
        </div>
        {{ if not .Object.Products}}
        <div class="row">
            <div class="col-12 text-center">
                <p>Nenhum produto disponível no momento.</p>
                {{if .Profile.User.IsStaff}}
                <p>
                    <a href="/products/create">
                        <button class="btn btn-sm btn-primary">
                            <i class="fa fa-plus"></i> Cadastrar novo produto
                        </button>
                    </a> ou
                    <a href="/stock/create">
                        <button class="btn btn-sm btn-success">
                            <i class="fa fa-plus"></i> Adicionar ao estoque
                        </button>
                    </a>
                </p>
                {{ end }}
            </div>
        </div>
        {{end}}
        <div class="mb-5">{{template "snippets/pagination" .Object.Filter.Pagination}}</div>

        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{{template "snippets/cart"}}