<!-- Cabeçalho do conteúdo (cabeçalho da página) -->
<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Vitrine da Loja</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Vitrine da Loja</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Conteúdo principal -->
<div class="content">
    <div class="container">
        <div class="row row-eq-height">
            {{ if  .Object.Products}}
                {{range .Object.Products}}
                    <div class="col-md-3">
                        <div class="card card-produto  text-center">
                            <img src="{{.Image}}" class="card-img-top" alt="{{.Name}}">
                            <div class="card-body d-flex flex-column">
                                <a class="card-title font-weight-bold text-dark" href="/products/details/{{.ID}}">
                                    <h5>{{abbrev 43 .Name}}</h5></a>
                                <p class="card-text text-muted"><small>{{abbrev 70 .Description}}</small></p>
                                <div class="mt-auto">
                                    <p class="card-text font-weight-bold fontsize-20">R$ {{ printf "%.2f" .Price}}<small
                                                class="text-muted">/uni</small></p>
                                    <div class="input-group mb-3">
                                        <button class="btn btn-outline-secondary" type="button" id="{{.ID}}-decrement"
                                                onclick="decrementQuantity('{{.ID}}')">-
                                        </button>
                                        <input type="text" id="{{.ID}}-quantity" class="form-control text-center"
                                               value="1" aria-label="Example text with button addon"
                                               aria-describedby="{{.ID}}-decrement {{.ID}}-increment">
                                        <button class="btn btn-outline-secondary" type="button" id="{{.ID}}-increment"
                                                onclick="incrementQuantity('{{.ID}}')">+
                                        </button>
                                    </div>
                                    <a href="#" class="adicionar-ao-carrinho" data-id="{{.ID}}">Adicionar ao
                                        Carrinho</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {{end}}
            {{end}}
        </div>
        {{ if not .Object.Products}}
            <div class="row">
                <div class="col-12 text-center">
                    <p>Nenhum produto disponível no momento.</p>
                </div>
            </div>
        {{end}}
        <div class="mb-5">{{template "snippets/pagination" .Object.Filter.Pagination}}</div>

        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
<script>
    // Função para adicionar um item ao carrinho
    function adicionarAoCarrinho(item) {
        // Obter o ID do produto selecionado
        const id = item.dataset.id;

        // Obter a quantidade do produto selecionado
        const quantityInput = document.getElementById(id + '-quantity');
        const quantity = quantityInput.value;

        // Criar um formulário dinamicamente
        const form = document.createElement('form');
        form.action = '/cart';
        form.method = 'post';

        // Criar um campo oculto para o ID do produto
        const inputId = document.createElement('input');
        inputId.type = 'hidden';
        inputId.name = 'id';
        inputId.value = id;

        // Criar um campo oculto para a quantidade do produto
        const inputQuantity = document.createElement('input');
        inputQuantity.type = 'hidden';
        inputQuantity.name = 'quantity';
        inputQuantity.value = quantity;

        // Adicionar os campos ocultos ao formulário
        form.appendChild(inputId);
        form.appendChild(inputQuantity);

        // Adicionar o formulário ao corpo da página
        document.body.appendChild(form);

        // Enviar o formulário
        form.submit();
    }

    // Adicionar um evento de clique para cada link "Adicionar ao Carrinho"
    const links = document.querySelectorAll('.adicionar-ao-carrinho');
    links.forEach(function (link) {
        link.addEventListener('click', function (event) {
            event.preventDefault();
            adicionarAoCarrinho(link);
        });
    });

    // Função para incrementar a quantidade
    function incrementQuantity(id) {
        const quantityInput = document.getElementById(id + '-quantity');
        const value = parseInt(quantityInput.value, 10);

        if (!isNaN(value)) {
            quantityInput.value = value + 1;
        }
    }

    // Função para decrementar a quantidade
    function decrementQuantity(id) {
        const quantityInput = document.getElementById(id + '-quantity');
        const value = parseInt(quantityInput.value, 10);

        if (!isNaN(value) && value > 1) {
            quantityInput.value = value - 1;
        }
    }
</script>
