<!-- Cabeçalho do conteúdo (cabeçalho da página) -->
<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Vitrine da Loja</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Vitrine da Loja</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Conteúdo principal -->
<div class="content">
    <div class="container">
        <div class="row row-eq-height">
            {{ if  .Object.Products}}
                {{range .Object.Products}}
                    <div class="col-md-3">
                        <div class="card card-produto  text-center">
                            <img src="{{.Image}}" class="card-img-top" alt="{{.Name}}">
                            <div class="card-body d-flex flex-column">
                                <a class="card-title font-weight-bold text-dark" href="/products/details/{{.ID}}">
                                    <h5>{{abbrev 40 .Name}}</h5></a>
                                <p class="card-text text-muted"><small>{{abbrev 70 .Description}}</small></p>
                                <div class="mt-auto">
                                    <p class="card-text font-weight-bold fontsize-20">R$ {{ printf "%.2f" .Price}}<small
                                                class="text-muted">/uni</small></p>
                                    <div class="input-group mb-3">
                                        <button class="btn btn-outline-secondary" type="button" id="{{.ID}}-decrement"
                                                onclick="decrementQuantity('{{.ID}}')">-
                                        </button>
                                        <input type="number" id="{{.ID}}-quantity" class="form-control text-center"
                                               pattern="[0-9]*" inputmode="numeric" min="1" value="1" aria-label="Example text with button addon"
                                               aria-describedby="{{.ID}}-decrement {{.ID}}-increment">
                                        <button class="btn btn-outline-secondary" type="button" id="{{.ID}}-increment"
                                                onclick="incrementQuantity('{{.ID}}')">+
                                        </button>
                                    </div>
                                    <a href="#" class="adicionar-ao-carrinho" data-id="{{.ID}}">Adicionar ao
                                        Carrinho</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {{end}}
            {{end}}
        </div>
        {{ if not .Object.Products}}
            <div class="row">
                <div class="col-12 text-center">
                    <p>Nenhum produto disponível no momento.</p>
                </div>
            </div>
        {{end}}
        <div class="mb-5">{{template "snippets/pagination" .Object.Filter.Pagination}}</div>

        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{{template "snippets/cart"}}