<div class="card-footer clearfix" style="background-color: transparent !important;">
    <span>Página {{.Page}} de {{.TotalPages}} - Mostrando {{.Limit}} resultado(s) por página de um total de {{.Total}}.</span>
    <ul class="pagination pagination-sm m-0 float-right">
        {{if and (le .Page .TotalPages) (gt .Page 1)}}
        <li class="page-item">
            <a class="page-link" href="?page={{sub .Page 1}}&limit={{.Limit}}">«</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{sub .Page 1}}&limit={{.Limit}}">
                {{sub .Page 1}}
            </a>
        </li>
        {{else}}
        <li class="page-item disabled">
            <a class="page-link" href="#">«</a>
        </li>
        {{end}}
        <li class="page-item active">
            <a class="page-link" href="?page={{.Page}}&limit={{.Limit}}">
                <strong>{{.Page}}</strong>
            </a>
        </li>
        {{if and (lt .Page .TotalPages) (ne .Page .TotalPages)}}
        <li class="page-item">
            <a class="page-link" href="?page={{add .Page 1}}&limit={{.Limit}}">
                {{add .Page 1}}
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{add .Page 1}}&limit={{.Limit}}">»</a>
        </li>
        {{else}}
        <li class="page-item disabled">
            <a class="page-link" href="#">»</a>
        </li>
        {{end}}
    </ul>
</div>