{{$query := .Query}}
{{with .Pagination}}
<nav class="card-footer clearfix" aria-label="Paginação" style="background-color: transparent !important;">
    <span>Página {{.Page}} de {{max 1 .TotalPages}} - Até {{.Limit}} resultado(s) por página de um total de {{.Total}}.</span>
    <ul class="pagination pagination-sm m-0 float-right">
        {{if gt .Page 1}}
        <li class="page-item">
            <a class="page-link" aria-label="Página anterior" href="?page={{sub .Page 1}}&amp;limit={{.Limit}}&amp;q={{$query}}">«</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{sub .Page 1}}&amp;limit={{.Limit}}&amp;q={{$query}}">{{sub .Page 1}}</a>
        </li>
        {{else}}
        <li class="page-item disabled"><span class="page-link" aria-hidden="true">«</span></li>
        {{end}}
        <li class="page-item active" aria-current="page"><span class="page-link"><strong>{{.Page}}</strong></span></li>
        {{if lt .Page .TotalPages}}
        <li class="page-item">
            <a class="page-link" href="?page={{add .Page 1}}&amp;limit={{.Limit}}&amp;q={{$query}}">{{add .Page 1}}</a>
        </li>
        <li class="page-item">
            <a class="page-link" aria-label="Próxima página" href="?page={{add .Page 1}}&amp;limit={{.Limit}}&amp;q={{$query}}">»</a>
        </li>
        {{else}}
        <li class="page-item disabled"><span class="page-link" aria-hidden="true">»</span></li>
        {{end}}
    </ul>
</nav>
{{end}}
