<script>
    document.getElementById('show-password-button').addEventListener('click', togglePasswordVisibility);

    function togglePasswordVisibility() {
        var passwordInputs = [document.getElementById('password'), document.getElementById('password2')];
        var visibilityIcon = document.getElementById('show-password-icon');
        toggleAllPasswordInputs(passwordInputs, visibilityIcon);
    }

    function toggleAllPasswordInputs(inputs, iconElement) {
        inputs.forEach(function (inputElement) {
            if (inputElement) {
                toggleVisibility(inputElement, iconElement);
            }
        });
    }

    function toggleVisibility(inputElement, iconElement) {
        var isPasswordType = inputElement.type === 'password';
        inputElement.type = isPasswordType ? 'text' : 'password';
        iconElement.classList.toggle('fa-eye', !isPasswordType);
        iconElement.classList.toggle('fa-eye-slash', isPasswordType);
    }
</script>
