<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById('password');
        var passwordInput2 = document.getElementById('password2');
        var passwordIcon = document.getElementById('show-password-icon');

        toggleVisibility(passwordInput, passwordIcon);

        if (passwordInput2) {
            toggleVisibility(passwordInput2, passwordIcon);
        }
    }

    function toggleVisibility(inputElement, iconElement) {
        if (inputElement.type === 'password') {
            inputElement.type = 'text';
            iconElement.classList.remove('fa-eye');
            iconElement.classList.add('fa-eye-slash');
        } else {
            inputElement.type = 'password';
            iconElement.classList.remove('fa-eye-slash');
            iconElement.classList.add('fa-eye');
        }
    }

    document.getElementById('show-password-button').addEventListener('click', togglePasswordVisibility);
</script>
