<div class="content-header">
    <div class="container">
        <h1 class="m-0 text-dark">Lista de Pedidos</h1>
    </div>
</div>

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto">
                {{template "snippets/message" .}}
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Lista de Pedidos</h3>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Status do Pedido</th>
                                    <th>Cliente</th>
                                    <th>Total</th>
                                    <th>Metodo de Pagamento</th>
                                    <th>Tipo de Entrega</th>
                                    <th>Data do Pedido</th>
                                    <th>Opções</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{range .Object.Orders}}
                                    <tr>
                                        <td><strong>{{.ID}}</strong></td>
                                        <td>
                                            <strong {{if eq .Status "Cancelado"}}class="text-danger"{{end}}>{{.Status}}</strong>
                                        </td>
                                        <td>{{.DeliveryDetail.UserFirstName}} {{.DeliveryDetail.UserLastName}}</td>
                                        <td>R$ {{ printf "%.2f" .Total}}</td>
                                        <td>{{.PaymentMethod}}</td>
                                        <td>{{if .IsDelivery}}Entrega no Endereço{{else}}Retirada na Loja{{end}}</td>
                                        <td>{{.CreatedAt | date "02/01/2006 15:04h"}}</td>
                                        <td>
                                            <a href="/orders/order/{{.ID}}" class="mr-2"><u>Visualizar</u></a>
                                            {{if and (eq .Status "Em Aberto") (eq .ProfileID $.Profile.ID)}}
                                                <a href="/orders/checkout/{{.ShoppingCartID}}" class="text-info"><u>Ir Para Checkout</u></a>
                                            {{end}}
                                        </td>
                                    </tr>
                                {{end}}
                                </tbody>
                            </table>
                        </div>
                        {{template "snippets/pagination" .Object.Filter.Pagination}}
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>