<div class="content-wrapper">
    <div class="content-header">
        <div class="container">
            <h1 class="m-0 text-dark">Detalhes do Pedido</h1>
        </div>
    </div>

    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-12 mx-auto">
                    {{template "snippets/message" .}}
                    <div class="invoice p-3 mb-3">
                        <div class="row mb-4">
                            <div class="col-12">
                                <h4>
                                    <span>Status:
                                        <strong {{if eq .Object.Order.Status "Cancelado"}}class="text-danger"{{end}}>{{.Object.Order.Status}}</strong>
                                    </span>
                                </h4>
                            </div>
                            <!-- /.col -->
                        </div>
                        <div class="row invoice-info">
                            <div class="col-sm-4 invoice-col">
                                De
                                <address>
                                    <strong>Cupcake Store</strong><br>
                                    {{.Object.StoreConfig.PhysicalStoreAddress}}<br>
                                    {{.Object.StoreConfig.PhysicalStoreCity}}
                                    , {{.Object.StoreConfig.PhysicalStoreState}}
                                    {{.Object.StoreConfig.PhysicalStorePostalCode}}<br>
                                    Telefone: {{.Object.StoreConfig.PhysicalStorePhoneNumber}}<br>
                                    Email: {{.Object.StoreConfig.PhysicalStoreEmail}}
                                </address>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 invoice-col" id="addressToDelivery">
                                Para
                                <address>
                                    <strong>{{.Object.Order.Profile.FirstName}} {{.Object.Order.Profile.LastName}}</strong><br>
                                    {{.Object.Order.Profile.Address}}<br>
                                    {{.Object.Order.Profile.City}}<br>
                                    Telefone: {{.Object.Order.Profile.PhoneNumber}}<br>
                                    Email: {{.Object.Order.Profile.User.Email}}
                                </address>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 invoice-col">
                                <b>Carrinho #{{.Object.Order.ShoppingCart.ID}}</b><br>
                                <br>
                                <b>Data do
                                    Pedido:</b> {{.Object.Order.ShoppingCart.CreatedAt | date "02/01/2006 15:04h"}}<br>
                                <b>Cliente:</b> {{.Object.Order.Profile.FirstName}} {{.Object.Order.Profile.LastName}}
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <!-- Table row -->
                        <div class="row">
                            <div class="col-12 table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Qtde</th>
                                        <th>Produto</th>
                                        <th>Description</th>
                                        <th>Subtotal</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{range .Object.Order.ShoppingCart.Items}}
                                        <tr>
                                            <td>
                                                <div style="display: flex; justify-content: center; align-items: center;">
                                                    <img id="previewImage"
                                                         src="{{if .Product.Image}}{{.Product.Image}}{{else}}/images/600x400.svg{{end}}"
                                                         alt="Pré-visualização da imagem"
                                                         style="max-width: 100%;height: auto;max-height: 5vh;">
                                                </div>
                                            </td>
                                            <td>{{.Quantity}}</td>
                                            <td>{{.Product.Name}}</td>
                                            <td>{{abbrev 60 .Product.Description}}</td>
                                            <td>R$ {{mul .Quantity .ItemPrice}}</td>
                                        </tr>
                                    {{end}}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <div class="row">
                            <!-- accepted payments column -->
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="lead">Formas de Pagamento:</p>
                                        <p>{{.Object.Order.PaymentMethod}}</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="lead">Receber Produto Por:</p>
                                        <p>{{if .Object.Order.IsDelivery}}Entregue pela Loja{{else}}Retirado pelo Cliente{{end}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p class="lead">Valor da Compra</p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                            <th style="width:50%">Subtotal:</th>
                                            <td>R$ {{ printf "%.2f" .Object.Order.ShoppingCart.Total}}</td>
                                        </tr>
                                        {{if .Object.Order.IsDelivery}}
                                            <tr id="deliveryRow">
                                                <th>Entrega:</th>
                                                <td>R$ {{ printf "%.2f" .Object.StoreConfig.DeliveryPrice}}</td>
                                            </tr>
                                        {{end}}
                                        <tr id="totalRow">
                                            <th>Total:</th>
                                            <td id="total"> R$ {{ printf "%.2f" .Object.Order.ShoppingCart.Total}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <div class="row no-print">
                            <div class="col-12">
                                <a href="javascript:history.back()" class="btn btn-default">
                                    <i class="fas fa-undo-alt"></i> Voltar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
