<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Histórico de Movimentações</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Histórico de Movimentações</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Verificar Movimentações do Produto</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="productName">Nome do produto</label>
                                    <input type="text" class="form-control" id="productName" name="productName"
                                           placeholder="Nome do produto" required="required">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="/stock" class="btn btn-default">
                            <i class="fas fa-undo-alt"></i> Cancelar </a>
                        <a href="javascript:function() { return false; }" id="productID"
                           class="btn btn-primary float-right" disabled>Carregar Histórico
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mx-auto">
                <div class="card card-primary">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="name">Nome do produto</label>
                                    <p class="text-muted" id="name">Sem informações</p>
                                </div>
                                <div class="form-group">
                                    <label for="description">Descrição</label>
                                    <p class="text-muted" id="description">Sem informações</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="price">Preço</label>
                                    <p class="text-muted" id="price">Sem informações</p>
                                </div>
                                <div class="form-group">
                                    <label for="stock">Estoque</label>
                                    <p class="text-muted" id="stock">Sem informações</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="mt-2"
                                         style="display: flex; justify-content: center; align-items: center;">
                                        <img id="previewImage" src="/images/placeholder.jpg"
                                             alt="Pré-visualização da imagem"
                                             style="max-width: 100%;height: auto;max-height: 26.5vh;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        const $quantity = $('#quantity').prop('disabled', true);
        const $productName = $('#productName');
        const $name = $('#name');
        const $description = $('#description');
        const $ingredients = $('#ingredients');
        const $previewImage = $('#previewImage');
        const $price = $('#price');
        const $currentStock = $('#stock');
        const $productID = $('#productID');

        const clearFields = () => {
            $name.text('Sem informações');
            $description.text('Sem informações');
            $ingredients.text('Sem informações');
            $previewImage.attr('src', '/images/placeholder.jpg');
            $price.text('Sem informações');
            $currentStock.text('Sem informações');
            $productID.removeAttr('href');
            $productID.prop('disabled', true);
        };

        const setFields = (item) => {
            if (item && item.name) {
                $name.text(item.name);
                $description.text(item.description);
                $ingredients.text(item.ingredients);
                $previewImage.attr('src', item.imageUrl);
                $price.text("R$ " + item.price);
                $currentStock.text(item.currentStock);
                $productID.attr('href', "stock/" + item.id);
                $productID.prop('disabled', false);
            } else {
                clearFields();
            }
        };

        const fetchData = (request, response) => {
            $.getJSON('/products/json', {
                q: request.term,
                limit: 5
            }, data => {
                if (data.Products.length !== 0) {
                    response(data.Products.map(item => ({
                        label: item.Name,
                        value: item.Name,
                        id: item.ID,
                        name: item.Name,
                        description: item.Description,
                        price: item.Price,
                        currentStock: item.CurrentStock,
                        ingredients: item.Ingredients,
                        imageUrl: item.Image,
                    })));
                } else {
                    clearFields();
                }
            });
        };

        $productName.autocomplete({
            source: fetchData,
            minLength: 2,
            select: (event, ui) => setFields(ui.item),
            change: (event, ui) => ui.item || clearFields()
        });
    });
</script>
