<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Adicionar novo usuário</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/users">Usuários Registrados</a>
                    </li>
                    <li class="breadcrumb-item active">Adicionar Usuário</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Formulário de Registro</h3>
                    </div>
                    {{template "snippets/message" .}}
                    <form action="/users/create" method="POST">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input class="form-control" id="email" name="email" placeholder="E-mail do usuário"
                                       required="required" type="email">
                            </div>
                            <div class="form-group">
                                <label for="password">Senha</label>
                                <input class="form-control" id="password" minlength="8" name="password"
                                       placeholder="Senha do usuário" required="required" type="password"/>
                            </div>
                            <div class="form-group">
                                <label for="isStaff">Opções</label>
                                <div class="custom-control custom-switch">
                                    <input class="custom-control-input" id="isStaff" name="isStaff"
                                           type="checkbox"/>
                                    <label class="custom-control-label" for="isStaff">Tornar Administrador</label>
                                </div>
                                <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                    <input checked class="custom-control-input" id="isActive"
                                           name="isActive" type="checkbox"/>
                                    <label class="custom-control-label" for="isActive">Ativar/Desativar
                                        Conta</label>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-default" href="/users">
                                <i class="fas fa-undo-alt"></i> Cancelar </a>
                            <button class="btn btn-primary float-right" type="submit">Adicionar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>