<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Adicionar novo usuário</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/users">Usuários Registrados</a>
                    </li>
                    <li class="breadcrumb-item active">Adicionar Usuário</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Formulário de Registro</h3>
                    </div>
                    <form method="post" action="/users/create">
                        <input type="hidden" name="csrf" autocomplete="off" value="{{ .csrfToken }}"/>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input type="email" class="form-control" id="email" name="email"
                                       placeholder="E-mail do usuário" required="required">
                            </div>
                            <div class="form-group">
                                <label for="password">Senha</label>
                                <input type="password" class="form-control" id="password" name="password"
                                       placeholder="Senha do usuário" minlength="8" required="required"/>
                            </div>
                            <div class="form-group">
                                <label for="isStaff">Opções</label>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="isStaff"
                                           name="isStaff"/>
                                    <label class="custom-control-label" for="isStaff">Tornar Administrador</label>
                                </div>
                                <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                    <input type="checkbox" class="custom-control-input" id="isActive"
                                           name="isActive" checked/>
                                    <label class="custom-control-label" for="isActive">Ativar/Desativar
                                        Conta</label>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="/users" class="btn btn-default">
                                <i class="fas fa-undo-alt"></i> Cancelar </a>
                            <button type="submit" class="btn btn-primary float-right">Adicionar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>