<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Deletar Usuário</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/users">Usuários Registrados</a>
                    </li>
                    <li class="breadcrumb-item active">Deletar Usuário</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="card card-danger card-outline">
                    <div class="card-body">
                        <h3>
                            <i class="fas fa-exclamation-triangle text-danger"></i> Você realmente deseja deletar
                            <strong>#{{.Object.ID}} {{.Object.Email}}</strong>?
                        </h3>
                        <p> Essa operação é irreversível e não poderemos recuperar os dados do usuário deletado. Caso
                            não queira continuar, clique <a href="/users">aqui</a> para retornar à lista de usuários
                            registrados. </p>
                        <form method="POST" action="/users/delete/{{.Object.ID}}">
                            <a href="/users" class="btn btn-default">
                                <i class="fas fa-undo-alt"></i> Cancelar </a>
                            <div class="float-right">
                                <button type="submit" class="btn btn-danger">
                                    <i class="fa fa-trash"></i> Confirmar e Deletar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>