<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Detalhes do usuário</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/users">Usuários Registrados</a>
                    </li>
                    <li class="breadcrumb-item active">Detalhes do Usuário</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Dados do Usuário</h3>
                    </div>
                    {{template "snippets/message" .}}
                    <form method="Post" action="/users/update/{{.Object.User.ID}}">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="username">Nome de usuário</label>
                                    <input type="text" class="form-control" id="username" name="username"
                                           placeholder="Nome de usuário" minlength="4"
                                           value="{{.Object.User.Username}}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="email">E-mail</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                           placeholder="E-mail do usuário" value="{{.Object.User.Email}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="oldPassword">Senha Antiga</label>
                                    <input type="password" class="form-control" id="oldPassword" name="oldPassword"
                                           placeholder="Senha Antiga" minlength="8">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="newPassword">Nova Senha</label>
                                    <input type="password" class="form-control" id="newPassword" name="newPassword"
                                           placeholder="Nova Senha" minlength="8">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="isStaff" name="isStaff"
                                               {{if .Object.User.IsStaff}}checked{{end}}/>
                                        <label class="custom-control-label" for="isStaff">Tornar Administrador</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div
                                            class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                        <input type="checkbox" class="custom-control-input" id="isActive"
                                               name="isActive" {{if .Object.User.IsActive}}checked{{end}}/>
                                        <label class="custom-control-label" for="isActive">Ativar/Desativar
                                            Conta</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <a href="/users" class="btn btn-default">
                                <i class="fas fa-undo-alt"></i> Cancelar
                            </a>
                            <a href="/users/delete/{{.Object.User.ID}}" class="btn btn-outline-danger">
                                <i class="fa fa-trash"></i> Deletar
                            </a>
                            <button type="submit" class="btn btn-primary float-right">Atualizar</button>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-md-6 mx-auto">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Perfil do Usuário</h3>
                    </div>
                    {{template "snippets/message" .}}
                    <form method="Post" action="/profile/update/{{.Object.User.ID}}">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="firstname">Nome</label>
                                    <input type="text" class="form-control" id="firstname" name="firstname"
                                           placeholder="Nome" minlength="4" value="{{.Object.Profile.FirstName}}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="lastname">Sobrenome</label>
                                    <input type="text" class="form-control" id="lastname" name="lastname"
                                           placeholder="Sobrenome" value="{{.Object.Profile.LastName}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="address">Endereço</label>
                                    <input type="text" class="form-control" id="address" name="address"
                                           placeholder="Endereço" minlength="4" value="{{.Object.Profile.Address}}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="postalcode">Código postal</label>
                                    <input type="text" class="form-control" id="postalcode" name="postalcode"
                                           placeholder="Código postal" value="{{.Object.Profile.PostalCode}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="address">Estado</label>
                                    <input type="text" class="form-control" id="state" name="state"
                                           placeholder="Estado" minlength="4" value="{{.Object.Profile.State}}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="city">Cidade</label>
                                    <input type="text" class="form-control" id="city" name="city"
                                           placeholder="Cidade" value="{{.Object.Profile.City}}">
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary float-right">Atualizar perfil</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>