<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Adicionar novo produto</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/products">Produtos Cadastrados</a>
                    </li>
                    <li class="breadcrumb-item active">Adicionar Produto</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Formulário de Cadastro de Produto</h3>
                    </div> {{template "snippets/message" .}}
                    <form method="POST" action="/products/create" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Nome do produto</label>
                                        <input type="text" class="form-control" id="name" name="name"
                                               placeholder="Nome do produto" minlength="4" maxlength="60"
                                               required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="price">Preço</label>
                                        <input type="number" step="0.01" class="form-control" id="price" name="price"
                                               placeholder="Preço do produto" min="0.01" required="required"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Descrição</label>
                                        <textarea class="form-control" id="description" name="description" rows="3"
                                                  maxlength="200"
                                                  required="required" placeholder="Descrição do produto"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="ingredients">Ingredientes</label>
                                        <textarea class="form-control" id="ingredients" name="ingredients"
                                                  maxlength="300" rows="3"
                                                  required="required" placeholder="Lista de ingredientes"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="image">Imagem do Produto</label>
                                        <div class="input-group">
                                            <input type="file" id="image" name="image"
                                                   accept="image/png, image/jpeg, image/jpg">
                                            <label for="image" id="imageLabel">Escolher Imagem do Produto</label>
                                        </div>
                                        <div class="mt-2"
                                             style="display: flex; justify-content: center; align-items: center;">
                                            <img id="previewImage" src="/images/placeholder.jpg"
                                                 alt="Pré-visualização da imagem"
                                                 style="max-width: 100%;height: auto;max-height: 50vh;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="/products" class="btn btn-default">
                                <i class="fas fa-undo-alt"></i> Cancelar </a>
                            <button type="submit" class="btn btn-primary float-right">Adicionar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{{template "products/scripts/product-image"}}