<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Produtos Cadastrados</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Produtos Cadastrados</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container">
        {{template "snippets/message" .}}
        <div class="row">
            <div class="col-12 mx-auto">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title mb-2">Lista de Produtos</h3>
                        <div class="card-tools">
                            <form method="get" id="filters">
                                <div class="row">
                                    <div class="col-12 mb-2">
                                        <div class="input-group m-0">
                                            <input type="text" id="limit" name="limit"
                                                   value="{{.Object.Filter.Pagination.Limit}}" hidden="hidden">
                                            <input type="text" class="form-control" id="q" name="q"
                                                   onclick="this.value = '';" placeholder="Pesquisar Produto">
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-default">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome do Produto</th>
                                <th>Descrição</th>
                                <th>Preço</th>
                                <th>Ingredientes</th>
                                <th>Imagem</th>
                                <th>Qtd Estoque</th>
                                <th>Status</th>
                                <th>Opções</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{range .Object.Products}}
                                <tr>
                                    <td>{{.ID}}</td>
                                    <td>
                                        <a href="/products/{{.ID}}">{{.Name}}
                                            <br/>
                                        </a>
                                        <small>{{.UpdatedAt|date "02/01/2006 15:04h"}}</small>
                                    </td>
                                    <td>{{abbrev 30 .Description}}</td>
                                    <td>R$ {{ printf "%.2f" .Price}}</td>
                                    <td>{{abbrev 30 .Ingredients}}</td>
                                    <td>
                                        <div style="display: flex; justify-content: center; align-items: center;">
                                            <img id="previewImage"
                                                 src="{{if .Image}}{{.Image}}{{else}}/images/600x400.svg{{end}}"
                                                 alt="Pré-visualização da imagem"
                                                 style="max-width: 100%;height: auto;max-height: 5vh;">
                                        </div>
                                    </td>
                                    <td>{{.CurrentStock}}</td>
                                    <td>{{if .IsActive}}
                                            <span class="badge badge-success">Ativo</span>
                                        {{else}}
                                            <span class="badge badge-danger">Inativo</span>{{end}}
                                    </td>
                                    <td>
                                        <a href="/products/{{.ID}}" class="btn btn-sm btn-outline-primary mr-2">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                        <a href="/products/delete/{{.ID}}" class="btn btn-sm btn-outline-danger">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {{end}}
                            </tbody>
                        </table>
                    </div>
                    {{template "snippets/pagination" .Object.Filter.Pagination}}
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
{{template "snippets/table-filter" }}